header {
	text-align: center;
	padding: 50px 0;
}

a {
	color: skyblue;
	text-decoration: none;
}

body {
	background-color: #f0f0f0;
}

article .container {
	background-color: #fff;
	padding: 20px 0;
	border-radius: 8px 8px 8px 8px;
}

article .container section {
	margin: 20px 40px;
}

section h2 {
	margin: 30px 0;
}

header h1 {
	margin: 0;
}

header p {
	margin: 5px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.examples {
	overflow: hidden;
}

figure {
	float: left;
}

figcaption {
	width: 100%;
	text-align: center;
}

.display_code {
	background-color: #222;
	color: #fff;
	margin: 15px 20px;
	padding: 15px 25px;
	border-radius: 5px 5px 5px 5px;
}

.display_code .tag_name {
	color: red;
}

.display_code .attribute_name {
	color: lightgreen;
}

.display_code .attribute_value {
	color: yellow;
}

.live_demo {
	width: 330px;
	margin: 0 auto;
}

.live_demo .function_def {
	width: 100%;
}

footer {
	padding: 20px 0;
	text-align: right;
	font-size: 13px;
}